.rating-wrapper {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end;
}

.rating-icon {
  width: 36px;
}

@media (max-width: 768px) {
  .rating-wrapper {
    gap: 0.125rem;
  }

  .rating-icon {
    width: 18px;
  }
}
