main {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.38rem;
  align-items: center;
}

.collapses-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  width: 100%;
  max-width: 1023px;
}

@media (max-width: 768px) {
  .collapses-wrapper {
    gap: 1.25rem;
  }
}
