@use '../styles/variables' as vars;

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app {
  flex-direction: column;
  display: flex;
  align-items: center;
}

main {
  padding-left: vars.$padding-vertical-global;
  padding-right: vars.$padding-vertical-global;
  width: 100%;
  max-width: vars.$max-width-global;
}

@media (max-width: 768px) {
  main {
    padding-left: vars.$padding-vertical-global-mobile;
    padding-right: vars.$padding-vertical-global-mobile;
  }
}
