@use '../styles/variables' as vars;

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

main {
  padding-left: vars.$padding-vertical-global;
  padding-right: vars.$padding-vertical-global;
}

@media (max-width: 768px) {
  main {
    padding-left: vars.$padding-vertical-global-mobile;
    padding-right: vars.$padding-vertical-global-mobile;
  }
}
