@use '../styles/variables' as vars;

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem vars.$padding-vertical-global 2rem vars.$padding-vertical-global;
  background-color: vars.$black;
  color: vars.$white;
  width: 100%;
}

.brand-logo {
  height: 40px;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
}

@media (max-width: 768px) {
  footer {
    align-items: center;
    gap: 0.5rem;
  }

  p {
    width: 134px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 142.6%;
  }
}
