header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  height: 68px;
}

a {
  font-size: 1.5rem;
  font-weight: 500;
}

.header-nav {
  display: flex;
  gap: 3.5625rem;
}

.link-active {
  text-decoration: underline;
}
