@use '../styles/variables' as *;

main {
  margin: 3.12rem 0 3.12rem 0;
}

.housing-page {
  .chips-container {
    display: flex;
    gap: 0.62rem;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.primary-secondary-info-wrapper {
  display: flex;
}

.primary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.25rem;
}

.housing-title {
  color: $red;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
}

.housing-location {
  color: $black;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 142.6%;
  margin-bottom: 1.25rem;
}

.secondary-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tertiary-info {
  display: flex;
  gap: 4.75rem;
}

@media (max-width: 768px) {
  main {
    margin: 1.69rem 0;
  }

  .housing-page {
    .chips-container {
      gap: 0.62rem;
    }
  }

  .info-wrapper {
    gap: 0.84rem;
  }

  .primary-secondary-info-wrapper {
    flex-direction: column;
  }

  .housing-title {
    font-size: 1.125rem;
  }

  .housing-location {
    font-size: 0.875rem;
    margin-bottom: 0.62rem;
  }

  .secondary-info {
    margin-top: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .tertiary-info {
    flex-direction: column;
    gap: 1.25rem;
  }
}
