@use '../../utils/variables' as *;

.collapse {
  border-radius: 0.625rem 0.625rem 0.3125rem 0.3125rem;
  width: 100%;
  &.is-open {
    background: $grey-tranlucent;
  }
}

.collapse-header {
  background-color: $red;
  padding: 0.62rem;
  padding-right: 1.25rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0.3125rem;
  color: $white;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 142.6%;
}

.collapse-header:hover {
  background-color: darken($red, 3%);
}

.collapse-content {
  padding: 0 1.25rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-out;

  &.is-open {
    padding: 1.25rem;
    max-height: none;
  }
}

p {
  margin: 0;
  color: $black;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 142.6%;
  text-align: start;
}

.icon {
  width: 32px;
  height: auto;
  transition: transform 300ms ease-out;
}

.rotate-icon {
  transform: rotate(180deg);
}

.large {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .collapse-header {
    height: 1.875rem;
    padding-right: 0.5rem;
    border-radius: 0.3125rem;
    font-size: 0.8125rem;
  }

  .icon {
    width: 24px;
  }

  p {
    font-size: 0.75rem;
    size: 100%;
  }
}
