/* Colors */
$red: #ff6060;
$white: #ffffff;
$black: #000000;
$black-hover: #464646;
$grey: #f6f6f6;
$grey-tranlucent: rgba(246, 246, 246, 0.45);

/* Spacing */
$padding-vertical-global: 6.25rem;
$padding-vertical-global-mobile: 1rem;

/* Max-width */
$max-width-global: 1440px;
